%white-on-blue {
  background-color: $fun-blue;
  color: $white;
}

%blue-on-white {
  background-color: $white;
  color: $fun-blue;
}

%white-on-gray {
  background-color: lighten($dove-gray, 40%);
  color: $white;
}

%larger-button {
  padding: 14px;
  font-size: 12px;
  font-weight: 900;
}

%smaller-button {
  padding: 8px;
  font-size: 11px;
  font-weight: 500;
}

%unstyled-button {
  width: auto;
  padding: 0;
  border: 0 none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

a.button {
  @extend %unstyled-link;
}

.button {
  appearance: none;
  border-width: 3px;
  border-style: solid;
  letter-spacing: 0.1ch;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;

  &.cta, &.transaction {
    @extend %larger-button;

    border-color: $fun-blue;
  }

  &.cta {
    @extend %blue-on-white;

    &:focus, &:hover {
      @extend %white-on-blue;
    }
  }

  &.transaction {
    @extend %white-on-blue;

    &:focus, &:hover {
      @extend %blue-on-white;
    }
  }

  &.disabled {
    border-color: lighten($dove-gray, 20%);
    cursor: auto;
    @extend %white-on-gray;
    &:focus, &:hover {
      @extend %white-on-gray;
    }
  }

  &.minor {
    @extend %smaller-button;

    background-color: $white;
    color: $dove-gray;
    border-color: $dove-gray;

    &:hover {
      background-color: $dove-gray;
      color: $white;
    }
  }
}
