// Colors
$mine-shaft: #3b3b3b;
$emporer: #525252;
$dove-gray: #6e6e6e;
$gallery: #ebebeb;
$spring-wood: #f9f5f3;
$white: #ffffff;
$flamingo: #eb5630;
$rose-bud: #fabf99;
$fun-blue: #1c76b5;
$link-water: #d7edf6;
$sushi: #9abd47;

// Layout
$gutter-width: 24px;
$page-width: 1200px;
$header-width-extension: 48px;
$header-width: $page-width + 2 * $header-width-extension;

// Typography
$font-size: 19.6px;
$copy-font-size: 16.8px;
$text-color: $mine-shaft;
$copy-font-family: pt-sans, sans-serif;
$heading-font-family: brandon-grotesque, sans-serif;
